.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	@include flex-grow(1);
}


.ticket-selection-layout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1250;
	position: fixed;
	background: rgba(0,0,0,0.2);
}

.ticket-selection {
	top: 0;
	right: 0;
	width: 300px;
	z-index: 1300;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	background: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	font-family: $font-family-rubik;
	border: 1px solid #cbd8ea;
	
	&__close {
		width: 20px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;
		
		&:after,
		&:before {
			top: 50%;
			z-index: 10;
			width: 24px;
			height: 2px;
			content: '';
			left: 50%;
			margin-top: -1px;
			margin-left: -12px;
			position: absolute;
			background: #858a92;
			display: inline-block;
			@include transition(.3s);
		}
		
		&:after {
			@include rotate(45deg);
		}
		
		&:before {
			@include rotate(-45deg);
		}
		
		&:hover {
			
			&:after,
			&:before {
				background: #000;
				@include transition(.3s);
			}
		}
	}
	
	&__header {
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 61px;
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		padding: 10px 20px;
		color: $color-dark;
		position: absolute;
		background: $color-light;
		border-bottom: 1px solid #cbd8ea;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		
		span {
			display: inline-block;
		}
	}
	
	&__content {
		left: 0;
		top: 61px;
		z-index: 10;
		width: 100%;
		overflow-y: auto;
		position: absolute;
		height: calc(100vh - 61px);
	}
	
	&__box {
		padding: 30px 20px;
		border-bottom: 1px solid #cbd8ea;
		
		&:last-child {
			border-bottom: none;
		}
		
		strong {
			font-weight: 500;
		}
	}
	
	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 15px;
	}
	
	&__text {
		font-size: 15px;
		line-height: 18px;
		color: $color-gray;
		
		p {
			margin: 0;
			padding: 0;
		}
		
		h4 {
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
		}
		
		strong {
			font-weight: 500;
		}
	}
	
	&__route {
		padding: 15px;
		position: relative;
		margin-bottom: 30px;
		background: $color-light;
		border: 1px solid #cbd8ea;
		@include border-radius(3px);
		@include flexbox();
		@include justify-content(space-between);
		
		&_start {
		
			span {
				display: block;
			}
			
			strong {
				display: block;
				font-size: 18px;
				line-height: 20px;
			}
		}
		
		&_finish {
			text-align: right;
			
			span {
				display: block;
			}
			
			strong {
				display: block;
				font-size: 18px;
				line-height: 20px;
			}
		}
		
		&:before {
			top: 15px;
			left: 50%;
			width: 30px;
			height: 15px;
			content: '';
			display: block;
			margin-left: -15px;
			position: absolute;
			background: url("../img/route_arrow.svg") 100% 50% no-repeat;
		}
	}
	
	&__point {
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		min-height: 44px;
		position: relative;
		padding: 12px 0 0 44px;
		@include flexbox();
		
		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 44px;
			height: 44px;
			display: block;
			position: absolute;
			border: 1px solid #cbd8ea;
			@include border-radius(3px);
			
		}
		
		&_time {
			width: 70px;
			font-weight: 500;
			display: block;
			text-align: center;
			@include flex-shrink(0);
		}
		
		&_place {
			padding-left: 20px;
			display: block;
			
			strong {
				font-size: 16px;
				margin-right: 5px;
			}
		}
		
		&_start {
			
			&:before {
				background: url("../img/icon__plane__start.png") 50% 50% no-repeat;
			}
		}
		
		&_change {
			
			&:before {
				background: url("../img/icon__plane__change.png") 50% 50% no-repeat;
			}
		}
		
		&_finish {
			
			&:before {
				background: url("../img/icon__plane__finish.png") 50% 50% no-repeat;
			}
		}
	}
	
	&__info {
		height: 118px;
		font-weight: 300;
		position: relative;
		@include flexbox();
		@include flex-direction(column);
		
		&_detail {
			margin: auto 0 auto 130px;
		}
		
		&_line {
			top: 0;
			bottom: 0;
			left: 80px;
			width: 2px;
			z-index: 1;
			position: absolute;
			background: #cbd8ea;
			
			&:after,
			&:before {
				left: -3px;
				z-index: 2;
				width: 8px;
				height: 8px;
				content: '';
				position: absolute;
				background: #cbd8ea;
				@include border-radius(50px);
			}
			
			&:after {
				top: -2px;
			}
			
			&:before {
				bottom: -2px;
			}
		}
		
		&_time {
			top: 50%;
			left: 44px;
			z-index: 10;
			width: 70px;
			height: 20px;
			color: #aabad0;
			font-size: 13px;
			line-height: 18px;
			margin-top: -10px;
			background: #fff;
			text-align: center;
			position: absolute;
		}
		
		&_type {
			margin-bottom: 15px;
		}
		
		&_flight {
			max-width: 140px;
			position: relative;
			padding: 0 30px 0 0;
			
			.button_info {
				right: 0;
				bottom: 0;
				position: absolute;
			}
		}
	}
	
	&__baggage {
		margin-bottom: 15px;
		@include flexbox();
		@include flex-wrap(wrap);
		
		&:last-child {
			margin-bottom: 0;
		}
	
		&_logo {
			width: 44px;
			height: 44px;
			margin-right: 16px;
			display: inline-block;
			border: 1px solid #cbd8ea;
			@include border-radius(50%);
			@include flex-shrink(0);
			
			&_rgd {
				background: url("../img/icon__rzd.png") 50% 50% no-repeat;
			}
		}
		
		&_route {
			padding-top: 14px;
			
			strong {
				font-size: 15px;
				display: block;
			}
		}
		
		&_info {
			width: 100%;
			font-size: 14px;
			line-height: 24px;
			padding: 5px 0 0 60px;
		}
		
		&_item {
			padding: 5px 0 5px 33px;
			
			&.baggage_hand_plus {
				color: #1cad6b;
				background: url("../img/baggage__hand.png") 0 5px no-repeat;
			}
			
			&.baggage_plus {
				color: #1cad6b;
				background: url("../img/baggage__plus.png") 0 5px no-repeat;
			}
			
			&.baggage_minus {
				color: #d92b3c;
				background: url("../img/baggage__minus.png") 0 5px no-repeat;
			}
		}
	}
	
	&__checkout {
	
		&_left {
			margin-bottom: 10px;
		}
		
		&_right {
		
		}
	}
	
	&__alert {
		color: #fb6090;
		margin-bottom: 5px;
		@include flexbox();
		@include align-items(center);
		
		span {
			display: inline-block;
			margin-right: 10px;
		}
	}
	
	&__price {
		font-size: 15px;
		line-height: 18px;
		color: #565d68;
		
		> strong {
			color: #262c38;
			font-size: 24px;
			font-weight: 500;
			line-height: 30px;
		}
		
		> span {
			display: block;
			font-weight: 300;
		}
	}
	
	@media (min-width: 768px) {
		width: 680px;
		
		&__header {
			padding: 45px 60px;
		}
		
		&__content {
			top: 91px;
			height: calc(100vh - 91px);
		}
		
		&__box {
			padding: 30px 60px 30px 60px;
		}
		
		&__route {
			font-weight: 300;
			padding: 20px 30px;
			
			&_start {
				
				span {
					display: inline;
				}
			}
			
			&_finish {
				text-align: right;
				
				span {
					display: inline;
				}
			}
			
			&:before {
				top: 30px;
				width: 116px;
				margin-left: -58px;
			}
		}
		
		&__point {
			font-size: 14px;
		
			&_place {
				padding-left: 35px;
			}
		}
		
		&__info {
			
			&_detail {
				margin-left: 150px;
			}
		}
		
		&__baggage {
			margin-right: -30px;
			@include flex-wrap(nowrap);
			
			&_route {
				width: 220px;
				@include flex-grow(1);
			}
			
			&_info {
				width: auto;
				padding: 5px 0 0 0;
			}
		}
		
		
		&__checkout {
			@include flexbox();
			@include justify-content(space-between);
			
			&_left {
				margin-bottom: 0;
			}
			
			&_right {
				padding-top: 10px;
			}
		}
		
	}
}


.button_info {
	width: 22px;
	height: 22px;
	color: #1797e4;
	cursor: pointer;
	font-size: 12px;
	line-height: 14px;
	padding: 4px 0;
	text-align: center;
	background: #cbe7f9;
	display: inline-block;
	text-decoration: none;
	@include border-radius(50%);
	@include flex-shrink(0);
	
	&:hover {
		color: #1797e4;
		background: #cbe7f9;
		text-decoration: none;
	}
	
	&_alert {
		color: #fb6090;
		background: #ffd5e2;
		
		&:hover {
			color: #fb6090;
			background: #ffd5e2;
		}
	}
}


.ticket-selection-inner {
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	
	&.ticket-selection-open {
		opacity: 1;
		z-index: 1200;
		visibility: visible;
	}
}