// Color system

$color-white:               #fff !default;
$color-black:               #000 !default;
$color-light:               #f9fdff !default;
$color-dark:                #262c38 !default;
$color-gray:                #565d68 !default;


$font-family-rubik:          'Rubik', Arial, sans-serif !default;



